@tailwind base;
@tailwind components;
@tailwind utilities;

 .button-wrapper::before {
                    animation: spin-gradient 4s linear infinite;
                }
            
                @keyframes spin-gradient {
                    from {
                        transform: rotate(0deg);
                    }
            
                    to {
                        transform: rotate(360deg);
                    }
                }

 .button1-wrapper::before {
                    animation: spin-gradient 8s linear infinite;
                }
            
                @keyframes spin-gradient {
                    from {
                        transform: rotate(360deg);
                    }
            
                    to {
                        transform: rotate(0deg);
                    }
                }